@media (max-width: 1440px) {
    .cube {
    position: absolute;

    &--1 {
        left: 32px;
        top: 155px;

        animation: rotate-cube1 10s ease-in-out infinite;
    }
    &--2 {
        left: 50px;
        top: 400px;

        animation: rotate-cube2 10s ease-in-out infinite;
    }
    &--3 {
        left: 230px;
        top: 35px;

        animation: rotate-cube3 10s ease-in-out infinite;
    }
    &--4 {
        left: 250px;
        top: 300px;

        animation: rotate-cube1 10s ease-in-out infinite;
    }
    &--5 {
        left: 450px;
        top: 100px;

        animation: rotate-cube2 10s ease-in-out infinite;
    }
    &--6 {
        left: 460px;
        top: 350px;

        animation: rotate-cube3 10s ease-in-out infinite;
    }
    &--7 {
        left: 650px;
        top: 20px;

        animation: rotate-cube1 10s ease-in-out infinite;
    }
    &--8 {
        left: 620px;
        top: 170px;

        animation: rotate-cube2 10s ease-in-out infinite;
    }
}
}
@media (max-width: 375px) {
    .cube {
        position: absolute;
    
        &--1 {
            left: 12px;
            top: 62px;
    
            animation: rotate-cube1 10s ease-in-out infinite;
        }
        &--2 {
            left: 20px;
            top: 160px;
    
            animation: rotate-cube2 10s ease-in-out infinite;
        }
        &--3 {
            left: 92px;
            top: 14px;
    
            animation: rotate-cube3 10s ease-in-out infinite;
        }
        &--4 {
            left: 100px;
            top: 120px;
    
            animation: rotate-cube1 10s ease-in-out infinite;
        }
        &--5 {
            left: 180px;
            top: 40px;
    
            animation: rotate-cube2 10s ease-in-out infinite;
        }
        &--6 {
            left: 184px;
            top: 140px;
    
            animation: rotate-cube3 10s ease-in-out infinite;
        }
        &--7 {
            left: 260px;
            top: 8px;
    
            animation: rotate-cube1 10s ease-in-out infinite;
        }
        &--8 {
            left: 248px;
            top: 68px;
    
            animation: rotate-cube2 10s ease-in-out infinite;
        }
    }
    }

@keyframes rotate-cube1 {
    0% {
        transform: 0;
    }
    30% {
        transform: translate(30px, 45px) rotate(-30deg);
    }
    60% {
        transform: translate(15px, -10px) rotate(90deg);
    }
    80% {
        transform: translate(-15px, -10px) rotate(-45deg);
    }
    100% {
        transform: 0;
    }
}

@keyframes rotate-cube2 {
    0% {
        transform: 0;
    }
    30% {
        transform: translate(45px, 30px) rotate(90deg);
    }
    60% {
        transform: translate(-20px, -30px) rotate(30deg);
    }
    80% {
        transform: translate(20px, -10px) rotate(-50deg);
    }
    100% {
        transform: 0;
    }
}
@keyframes rotate-cube3 {
    0% {
        transform: 0;
    }
    30% {
        transform: translate(15px, 10px) rotate(30deg);
    }
    60% {
        transform: translate(45px, 30px) rotate(60deg);
    }
    80% {
        transform: translate(20px, -10px) rotate(-50deg);
    }
    100% {
        transform: 0;
    }
}