body.light-theme {
  --background: #ffffff;
  --color-text: #3d3d3d;
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  --filterStyle: invert(0) brightness(1) contrast(1);
}

body.dark-theme {
  --background: #29292e;
  --color-text: #ffffff;
  -webkit-animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  --filterStyle: invert(1) brightness(2) contrast(2);
}
